@tailwind base;
@tailwind components;
@tailwind utilities;

/* If the user prefers dark mode,
we of course apply color-scheme: dark, as usual */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* If the user prefers light mode,
we still enforce color-scheme: dark, despite the user preference */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

/*#app {*/
/*  max-width: 1280px;*/
/*}*/

@layer base {
  :root {
    --color-primary: #1e40af; /* #1e40af */
  }
}

@keyframes fadeTopToBottom {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeTopToBottom 0.5s ease forwards;
}
